* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.doit {
    position: fixed;
    top: -3vh;
    transform: translateY(0);
    font-size: 1rem;
    animation: fall 3s linear forwards;
    opacity: 0.2;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}